.progress-padding {
	height: 1rem;
}

.arrivals {
	border-left: 4px solid;
	overflow-wrap: break-word;
}

.arrival-fixed-width-small {
	max-width: 6rem;
	min-width: 6rem;
}

.arrival-fixed-width-large {
	max-width: 8rem;
	min-width: 8rem;
}

.arrival-heading {
	font-size: 2rem;
	text-align: center;
}

.arrival-trailing {
	font-size: 1.5rem;
}

.small-text {
	font-size: 0.8rem;
}

.bold-text {
	font-weight: bold;
}
