<p-drawer *transloco="let t" [(visible)]="visible" [header]="t('title.arrivals')" position="right" [modal]="false" [style]="{width: '40rem', maxWidth: '100%'}" (onHide)="closeDrawer()">
	<div class="column wrapper">
		<div class="column gap-small">
			@for (name of getNames(); track $index) {
				<div class="padding-sides bold-text">{{ name }}</div>
			}
			<div class="padding-sides small-text">{{ getRoutes() }}</div>
		</div>
		@if (getLoading()) {
			<div class="progress-padding"></div>
			<p-progressBar mode="indeterminate" [style]="{ height: '6px' }"/>
		} @else {
			<p-divider/>
			<div class="column content">
				@if (getArrivals().length === 0) {
					<div class="column center">
						<div>{{ t("arrivals.no-arrivals") }}</div>
					</div>
				}
				@for (arrival of getArrivals(); track $index) {
					<div class="row gap center padding-sides arrivals" [style.border-left-color]="getColor(arrival)">
						<div class="arrival-heading arrival-fixed-width-small bold-text">{{ arrival.routeShortName }}</div>
						<div class="column spacing">
							<div class="bold-text">{{ arrival.routeLongNameTc }}</div>
							<div class="bold-text">{{ arrival.routeLongNameEn }}</div>
							<div class="row gap">
								<div class="small-text">{{ arrival.provider }}</div>
								<div class="small-text">{{ formatDate(arrival) }}</div>
							</div>
						</div>
						<div class="row center arrival-trailing arrival-fixed-width-large bold-text">
							@if (arrival.realtime) {
								<i class="pi pi-wifi"></i>
							}
							<div class="spacing"></div>
							<div>{{ getRelativeTimes($index) ?? t('arrivals.arriving') }}</div>
						</div>
					</div>
					<p-divider/>
				}
			</div>
		}
	</div>
</p-drawer>
