<p-drawer *transloco="let t" [(visible)]="drawerVisible" position="right" [modal]="false" [style]="{width: '40rem', maxWidth: '100%'}" (onHide)="closeDrawer()">
	<ng-template #header>
		<div class="row gap center wrapper" [formGroup]="formGroup">
			<h2>{{ t('title.arrivals') }}</h2>
			<div class="spacing"></div>
			<div class="row gap-small">
				<p-checkbox inputId="group-arrivals" formControlName="groupArrivals" [binary]="true"/>
				<label for="group-arrivals">{{ t('menu.group-arrivals') }}</label>
			</div>
			<div class="row">
				<p-button [icon]="copyStatus() === 'success' ? 'pi pi-check' : copyStatus() === 'error' ? 'pi pi-times' : 'pi pi-clipboard'" (onClick)="copyRequest()" [rounded]="true" [text]="true" [pTooltip]="t('menu.copy-request')" tooltipPosition="bottom"/>
				<p-button icon="pi pi-info-circle" (onClick)="dialogVisible = true" [rounded]="true" [text]="true" [pTooltip]="t('title.app-details')" tooltipPosition="bottom"/>
				<p-button [icon]="isDarkTheme() ? 'pi pi-sun' : 'pi pi-moon'" (onClick)="toggleTheme()" [rounded]="true" [text]="true" [pTooltip]="t(isDarkTheme() ? 'menu.light-theme' : 'menu.dark-theme')" tooltipPosition="bottom"/>
			</div>
		</div>
	</ng-template>

	<div class="column wrapper">
		<div class="column gap-small">
			@for (title of getTitles(); track $index) {
				<div class="padding-sides bold-text">{{ title }}</div>
			}
			@for (subtitle of getSubtitles(); track $index) {
				<div class="padding-sides small-text">{{ subtitle }}</div>
			}
		</div>

		@if (getLoading()) {
			<div class="progress-padding"></div>
			<p-progressBar mode="indeterminate" [style]="{ height: '6px' }"/>
		} @else {
			<p-divider/>
			<div class="column content">
				@if (getArrivals().length === 0 && getGroupedArrivals().length === 0) {
					<div class="column center">
						<div>{{ t("arrivals.no-arrivals") }}</div>
					</div>
				}

				@for (arrival of getArrivals(); track $index) {
					<div class="row gap center padding-sides arrivals" [style.border-left-color]="getColor(arrival)">
						<div class="arrival-heading arrival-fixed-width-small bold-text">{{ arrival.routeShortName }}</div>
						<div class="column spacing">
							<div class="bold-text">{{ arrival.routeLongNameTc }}</div>
							<div class="bold-text">{{ arrival.routeLongNameEn }}</div>
							<div class="row gap">
								<div class="small-text">{{ arrival.provider }}</div>
								@if (arrival.platform) {
									<div class="small-text">{{ t('arrivals.platform', {platform: arrival.platform}) }}</div>
								}
								<div class="small-text">{{ formatDate(arrival) }}</div>
							</div>
						</div>
						<div class="row center arrival-trailing arrival-fixed-width-large bold-text">
							@if (arrival.realtime) {
								<i class="pi pi-wifi"></i>
							}
							<div class="spacing"></div>
							<div>{{ arrival.arrival === 0 ? arrival.minutes === 0 ? t('arrivals.arriving') : t('arrivals.min', {minutes: arrival.minutes}) : getRelativeTimes()[arrival.arrival.toString()] ?? t('arrivals.arriving') }}</div>
						</div>
					</div>
					<p-divider/>
				}

				@if (getGroupedArrivals().length > 0) {
					<div class="column gap">
						@for (arrivals of getGroupedArrivals(); track $index) {
							<div class="padding-sides">
								<p-card>
									<div class="column gap-small">
										<div class="row gap center">
											<div class="arrival-heading bold-text">{{ arrivals[0].routeShortName }}</div>
											<div class="column spacing">
												<div class="bold-text">{{ arrivals[0].routeLongNameTc }}</div>
												<div class="bold-text">{{ arrivals[0].routeLongNameEn }}</div>
											</div>
											@if (arrivals[0].platform) {
												<div class="small-text">{{ t('arrivals.platform', {platform: arrivals[0].platform}) }}</div>
											}
										</div>
										<div class="column">
											@for (arrival of arrivals; track $index) {
												<div class="row gap center arrivals" [style.border-left-color]="getColor(arrival)">
													<div></div>
													<div class="small-text">{{ arrival.provider }}</div>
													<div class="small-text spacing">{{ formatDate(arrival) }}</div>
													<div class="row center arrival-trailing arrival-fixed-width-large bold-text">
														@if (arrival.realtime) {
															<i class="pi pi-wifi"></i>
														}
														<div class="spacing"></div>
														<div>{{ arrival.arrival === 0 ? arrival.minutes === 0 ? t('arrivals.arriving') : t('arrivals.min', {minutes: arrival.minutes}) : getRelativeTimes()[arrival.arrival.toString()] ?? t('arrivals.arriving') }}</div>
													</div>
												</div>
											}
										</div>
									</div>
								</p-card>
							</div>
						}
						<div></div>
					</div>
				}
			</div>
		}
	</div>
</p-drawer>

<p-dialog *transloco="let t" [header]="t('title.app-details')" [modal]="true" [dismissableMask]="true" [(visible)]="dialogVisible" [style]="{ width: '24rem' }">
	<div class="column gap">
		<div class="column gap-small">
			<div class="bold-text">{{ t('details.data-last-updated') }}</div>
			<div class="row gap">
				<div class="column">
					@for (providerProperties of getAppDetails()?.data ?? []; track $index) {
						<div class="bold-text">{{ providerProperties.provider }}</div>
					}
				</div>
				<div class="column">
					@for (providerProperties of getAppDetails()?.data ?? []; track $index) {
						<div>{{ formatAbsoluteTime(providerProperties.lastUpdated) }}</div>
					}
				</div>
			</div>
		</div>
		<div class="column gap-small">
			<div class="bold-text">{{ t('details.version') }}</div>
			<div>{{ getAppDetails()?.version }}</div>
		</div>
	</div>
</p-dialog>
